<div>
    <div>
    <h5>User <%= current_user.username%></h5>
    </div>
</div>
<nav>
    <div>
    <%= link_to 'Pagina principal', root_path %>
    <%= link_to 'Sign out', logout_path, method: "delete" %>
    </div>
</nav>
